# Git
.git
.gitignore

# Docker
.docker
Dockerfile
docker-compose.yml
.dockerignore

# Compiled Go files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove if using go modules)
vendor/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Custom
README.md
LICENSE
docs/